<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="name_site">
        <h1>Список задач</h1>
    </div>
    <div class="parent">
        <!-- Панель инструментов -->
        <div class="toolbar">
            <img src=" " alt="фото профиля пользователя">
            <p><a href="{{ url_for('user') }}">{{ username }}</a></p>
        </div>

        <div class="menu">
            <ul class="menu-item">
                <li class="menu-link"><a href="{{ url_for('tasks') }}">Создать задачу</a></li>
                <li class="menu-link"><a href="{{ url_for('index') }}">Список задач</a></li>
                <li class="nmenu-link"><a href="{{ url_for('statistics') }}">Статистика выполнения</a></li>
                <li class="menu-link"><a href="{{ url_for('user') }}">Настройки профиля</a></li>
            </ul>
        </div>
        <!-- конец панели инструментов -->
    </div>

</body>
</html>