<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <form method="post" action="" class="form">
        <label for="username" class="form_labels">Имя пользователя</label>
        <input name="username" id="username" type="text" class="field_form"> <br>
        <label for="email" class="form_labels">Почта</label>
        <input type="email" name="email" id="email" class="field_form"> <br>
        <button type="submit">Войти</button>
    </form>
</body>
</html>