<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <div class="regist">
        <form method="post" action="" class="form">
            <label for="username" class="form_labels">Имя пользователя</label>
            <input type="text" name="username" id="username" class="field_form" placeholder="Введите имя пользователя">
            <label for="email" class="form_labels">Почта</label>
            <input id="email" name="email" type="email" class="field_form" placeholder="Введите почту">
            <button type="submit">Отправить!</button>
        </form>
    </div>
</body>
</html>